<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <router-link to="/" :exact="true">
                    <img src="http://lockonestopshop.com/img/logo-NEW.png" />
                </router-link>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <router-link to="/" :exact="true">
                            <span class="glyphicon glyphicon-home" ></span> Home
                        </router-link>
                    </li>
                    <li class="nav-item" >
                        <router-link to="/fetchdata">
                            <span class="glyphicon glyphicon-education"></span> Temp loading animation
                        </router-link>
                    </li>
                    <li class="nav-item" >
                        <router-link to="/Projects" class="subnav-parent">
                            <span class="glyphicon glyphicon-th-list"></span>Projects
                        </router-link>
                        <ul class="subnav">
                            <li>
                                <router-link to="/Projects/a" class="sub" :exact="true">
                                    <span class="glyphicon glyphicon-chevron-right pull-left"></span>Project 1
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/Projects/b" class="sub" :exact="true">
                                    <span class="glyphicon glyphicon-chevron-right pull-left"></span>Project 2
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/Projects/c" class="sub" :exact="true">
                                    <span class="glyphicon glyphicon-chevron-right pull-left"></span>Project 3
                                </router-link>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item" >
                        <router-link to="/TestComponent">
                            <span class="glyphicon glyphicon-apple"></span>Page 4
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script src="./navmenu.ts"></script>
<style src="./navmenu.css" />
