<template>
    <div class="panels">
        <div class="grid" style="position: relative;">
            <div class="grid-item grid-item--width2">
                <div class="grid--content">
                    <h1>Hey there!<br><br> Welcome to my portfolio!<br><br> Everything here was painstakingly copied from stack overflow by a confused backend developer</h1>
                </div>
            </div>
            <!--<div class="grid-item grid-item--width2">
                <div class="grid--content">
                    <h1>Things I built this with:</h1>
                    <p>
                        <ul style="list-style: none">
                            <li><br></li>
                            <li>ASP.NET Core Backend - Microsoft SPA framework</li>
                            <li>Vue.js Component organized</li>
                            <li>Hosted on Azure</li>
                            <li>C#/Typescript</li>
                        </ul>
                    </p>

                </div>
            </div>-->
            <div class="grid-item grid-item--width2">
                <div class="grid--content">
                    <img src="https://imgur.com/hgTX2n3.jpg" />
                </div>
            </div>
           <!-- <div class="grid-item grid-item--width2">
                <div class="grid--content">
                    <h1>This section goes on the right</h1>
                </div>
            </div>
            <div class="grid-item grid-item--width2">
                <div class="grid--content">
                    <h1>test</h1>
                </div>
            </div>-->
            <!--<div class="grid-item grid-item--width2 video">
                <div class="grid--content">
                    <iframe width="395" height="250" src="https://www.youtube.com/embed/S12BSzvGHSQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>-->
        </div>
    </div>
</template>
<script src="./home.ts"></script>
<style src="./home.css" />
