<template>
    <div class="panels">
        <div class="grid" style="position: relative;">
            <div class="grid-item grid-item--width2"  style="position: relative; ">
                <div class="grid--content">
                    <h1>Here is some more dummy data to fill up some grid slots who knows maybe the grid will get bigger!</h1>
                </div>
            </div>
            <div class="grid-item grid-item--width2"  style="position: relative;">
                <div class="grid--content">
                    <h1>This is the easiest site build </h1>
                    <p>
                        Here is an exemplary website, check out this exemplary stuff.
                    </p>

                </div>
            </div>
 
            <div class="grid-item grid-item--width2"  style="position: relative; ">
                <div class="grid--content">
                    <h1>This section goes in the middle </h1>
                </div>
            </div>
            <div class="grid-item grid-item--width2"  style="position: relative; ">
                <div class="grid--content">
                    <h1>This section goes on the right</h1>
                </div>
            </div>
            <div class="grid-item grid-item--width2"  style="position: relative; ">
                <div class="grid--content">
                    <h1>test</h1>
                </div>
            </div>
            <div class="grid-item grid-item--width2 video" style="position: relative;">
                <div class="grid--content">
                    <!--MemeBuild-->
                    <iframe width="395" height="250" src="https://www.youtube.com/embed/S12BSzvGHSQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="./home.ts"></script>
<style src="./home.css" />
