<template>
    <div class="resume-base">
        <div class="resume-body">

            <div class="header">
                <div class="header-info">
                    <div class="resume-name">Jarret Belles</div>
                    <div class="title-2">Software Engineer</div>
                </div>
                <div class="header-info">
                    <div class="title-3 header-info header-info-2"><a href="mailto:jgbelles@gmail.com">jgbelles@gmail.com</a> - (949)-395-7441</div>
                </div>
            </div>

            <div class="profile">
                <div class="title">
                    Profile
                </div>
                <div class="profile-body title-2">
                    Design and develop software for a variety of clients on a variety of platforms. Primarily backend focussed.
                </div>
            </div>
            <div class="skills">
                <div class="title">
                    Skills
                </div>
                <ul class="skills-list">
                    <li class="skills-item">
                        <div class="skills-name title-2">
                            Software Development
                        </div>
                        <div class="skills-description title-3">
                            Experience using modern languages and frameworks to develop reliable products
                        </div>
                    </li>
                    <li class="skills-item">
                        <div class="skills-name title-2">
                            System Design
                        </div>
                        <div class="skills-description title-3">
                            Experience taking an idea and designing the data structures to best support it
                        </div>
                    </li>
                    <li class="skills-item">
                        <div class="skills-name title-2">
                            Backend Development
                        </div>
                        <div class="skills-description title-3">
                            Experience building out APIs and related SQL for web/mobile/console platforms
                        </div>
                    </li>
                    <li class="skills-item">
                        <div class="skills-name title-2">
                            Teamwork
                        </div>
                        <div class="skills-description title-3">
                            Experience working with team members of all roles to effectively move products forward
                        </div>
                    </li>
                </ul>
            </div>
            <div class="technical">
                <div class="title">
                    Technical
                </div>
                <div class="technical-container">
                    <ul class="technical-list title-4">
                        <li class="technical-item">
                            .NET Core
                        </li>
                        <li class="technical-item">
                            SQL
                        </li>
                        <li class="technical-item">
                            HTML/JS/CSS
                        </li>
                    </ul>
                    <ul class="technical-list title-4">
                        <li class="technical-item">
                            REST APIs
                        </li>
                        <li class="technical-item">
                            Unity
                        </li>
                        <li class="technical-item">
                            JSON
                        </li>
                    </ul>
                    <ul class="technical-list title-4">
                        <li class="technical-item">
                            C#
                        </li>
                        <li class="technical-item">
                            C++
                        </li>
                        <li class="technical-item">
                            C
                        </li>
                    </ul>
                </div>
            </div>
            <div class="experience">
                <div class="title">
                    Experience
                </div>
                <div class="experience-item">
                    <div class="experience-name title-2">
                        Koder, Inc.
                    </div>
                    <div class="year title-4">
                        Nov 2016 - Current
                    </div>
                    <div class="experience-description title-3">
                        Software Engineer
                    </div>
                </div>
            </div>
            <div class="education">
                <div class="title">
                    Education
                </div>
                <div class="education-item">
                    <div class="education-name title-2">
                        University of California, Santa Cruz
                    </div>
                    <div class="year title-4">
                        Sep 2012 - Jul 2016
                    </div>
                    <div class="education-description title-3">
                        Computer Science: Computer Game Design
                    </div>

                </div>
            </div>

            <div class="footer title-3">
                <p>Jarret Belles</p>
                <p><a href="mailto:jgbelles@gmail.com">jgbelles@gmail.com</a> — (949)-395-7441</p>
            </div><!--// footer -->
        </div>
    </div>
</template>

<script src="./resume.ts"></script>
<style src="./resume.scss"></style>
